<div class="col-sm-9 col-md-9 col-lg-9 sty-background-default sty-margin-box">
        <div class="gutter">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="page-title">Corpo Docente</h1>
            </div>
        </div>
        <div class="gutter">
            <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="list-unstyled">
                        <% @teachers.sort_by(&:name).each do |teacher| %>
                        <li class="sty-spacing-articles news-mini-wrap2"><a href="<%= teacher_path(teacher) %>" title="<%= teacher.name %>">
                            <div class="col-sm-2 col-lg-2 col-md-2 sty-teacher-img">
                                <% if teacher.avatar? %>
                                    <img class="img-responsive" src="<%= teacher.avatar.url %>" width="130" height="130">
                                <% else %>
                                    <img class="img-responsive" src="/avatars/original/missing.png" alt="" width="130" height="130">
                                <% end %>
                            </div>
                            <div class="col-sm-10 col-md-10 col-lg-10">
                                <h4 class="sty-color-default sty-margin-title"><%= teacher.name %></h4>
                                <span class="news-date2"><%= teacher.email %></span><br>
                                <span class="sty-layout-interests"><strong>Áreas de Interesse:</strong>
                                    <p align="justify">
                                        <%= teacher.profile.interests %>
                                    </p>
                                </span>
                            </div>
                        </a></li>
                        <% end %>
                    </ul>
            </div>
        </div>
</div>
