<div class="col-sm-9 col-md-9 col-lg-9 sty-background-default sty-margin-box">
    <div class="gutter">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="course-title-meta clearfix">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="<%=@teacher.avatar.url %>" alt="<%= @teacher.name %>" width="180" height="180" />
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9 sty-line-height">
              <h4 class="sty-color-default sty-margin-teacher" ><%= @teacher.name %></h4>
              <span><strong>Cargo:</strong> <%= @teacher.profile.role.nil? ? 'Professor' : @teacher.profile.role %></span><br>
              <span><strong>Titulação:</strong> <%= @teacher.profile.degree %></span><br>
              <span><strong>E-mail:</strong> <%= @teacher.email %></span><br>
              <span><strong>Fone:</strong> <%= @teacher.profile.phone %></span><br>
              <span class="sty-layout-interests"><strong>Áreas de Interesse:</strong>
                <p align="justify">
                    <%= @teacher.profile.interests %>
                </p>
              </span>
              <% unless @teacher.profile.link.empty? %> 
                <a class="sty-link-style" href="<%= @teacher.profile.link %>" target="_blank">Acessar Página Pessoal</a><br>
              <% end %>
              <a class="sty-link-style" href="<%= @teacher.profile.lattes %>" target="_blank">Currículo Lattes</a>
            </div>
        </div>
        <div class="clearfix">
          <hr/>
          <% if not @teacher.discipline_ids.nil? and @teacher.discipline_ids.size > 0 %>
              <h6>Material de aula:</h6>
              <% @teacher.disciplines.each do |discipline| %>
              <br/>
              <p onclick="$('.classes').hide(); $('.classes[data-discipline-id=<%=discipline.id%>]').show();" style="cursor:pointer;"><i class="glyphicon glyphicon-folder-close sty-color-default"></i><font class="sty-color-default" size='2.5'> <%= discipline.code %> - <%= discipline.name %></font></p>
              <ul class="list-unstyled classes list-downloads" data-discipline-id="<%= discipline.id %>" style="display: none;">
                <% if discipline.materials.where(user_id: @teacher.id).any? %>
                  <% discipline.materials.where(user_id: @teacher.id).each do |material| %>
                   <li style="margin-left:10px;">
                          <i class="fa fa-cloud-download"></i>
                          <a href="<%= material.attachment %>" target="_blank" title="<%= material.name %>" class="download-link">
                            <span class="help-block" style="padding-top:5px;"><%= material.name %></span>
                          </a>
                   </li>                   
                  <% end %>
                <% else %>
                  <li style="margin-left:10px;">
                     <text>Nenhum material cadastrado para esta disciplina</text>
                   </li>       
                <% end %>
              </ul>
              <% end %>
          <% else %>
            <h6>Nenhum material de aula disponível</h6>
          <% end %>
        </div>
      </div>
    </div>
</div>