
<div class="row">
    <div class="col-xs-12">
    <section class="widget">
    <%= render "shared/messages" %>     
        <header>
            <span class="icon">&#128213;</span>
            <hgroup>
                <h1>Materiais</h1>
                <h2>Materiais por disciplina</h2>
            </hgroup>

        </header>
        <div class="content timeline">
<div class="panel-group">
  <% @dashboard_disciplines.each do |discipline| %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">                
                <a data-toggle="collapse" class="discipline-link" href="#<%=discipline.id%>"><%= discipline.name %></a>
                <a href="<%= new_dashboard_material_path(discipline_id: discipline.id) %>" style="margin-left:6px;">
                    <span class="glyphicon glyphicon-plus" style="font-size:15px;"></span>    
                </a>
            </h4>
        </div>
        <div id="<%=discipline.id%>" class="panel-collapse collapse">
            <div class="panel-body">
            <% discipline.materials.each do |material| %>
                <div class="tl-post" style="margin-left: 10px;">
                    <span class="icon">&#128213;</span>
                      <p>
                     <%= link_to "#{material.name}",  edit_dashboard_material_path(material)%>
                    </p>
                </div>
            <% end %>
            </div>
        </div>
    </div>
  <% end %>
</div>     
        </div>
               <div class="col-md-12" id="pagination-content">
                    <%= will_paginate(@dashboard_disciplines) %>
                </div>
    </section>
   </div>
</div>   
