<link rel="stylesheet" href="/assets/css/dashboard/dashboard-form.css" media="all">

<div class="botao2">
    <% if not @dashboard_discipline.new_record? %>
      <%= link_to 'Remover', {:controller => :disciplines  ,
                              :action => 'destroy', :id => @dashboard_discipline.id},:class => "btn btn-danger", :method => :delete %>
    <% end %>
</div>
<%= form_for([:dashboard, @dashboard_discipline]) do |f| %>
    <section class="content">
        <section class="widget" style="min-height:00px">
          <%= render "shared/messages", :target => @dashboard_discipline %>       
                <header>
                        <span class="icon">&#59160;</span>
                        <hgroup>
                            <h1>Disciplinas</h1>
                            <h2><%= @dashboard_discipline.new_record? ? 'Cadastrar nova disciplina' : 'Modificar disciplina' %></h2>
                        </hgroup>
            </header>
            <div class="content">
                <div class="field-wrap">
                    <label>Código da Ementa</label>
                    <%= f.text_field :code,:class => "form-control"  %>
                </div>
                <div class="field-wrap">
                    <label>Nome</label>
                    <%= f.text_field :name,:class => "form-control"  %>
                </div>
                <div class="field-wrap">
                    <label>Número de Créditos</label>
                    <%= f.number_field :credit, :class => "form-control"  %>
                </div>
                <div class="field-wrap">
                    <label>Carga Horária</label>                  
                    <%= f.number_field :hours, :class => "form-control"  %>
                </div>
                <div class="field-wrap">      
                    <label>Período</label>              
                    <%= f.number_field :semester,  :class => "form-control"  %>
                </div>
                <div class="field-wrap">
                    <label>Turno</label>
                    <%= f.select(:shift,  [['Tarde',:noon], ['Noite',:night]], {}, { :class => "form-control" })%>
                </div>
                <div class="field-wrap">
                    <label>Link Acadêmico</label>                    
                    <%= f.text_field :link, :class => "form-control"  %>
                </div>

    

                     <label>Professores</label>     
                 <div class="field-wrap">
<%= f.select :user_ids, User.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => "form-control multiselect" %>
     
                    </div>

               
                <div class="btn-form">
                  <%= f.button 'Salvar', class: 'btn btn-warning', type: 'submit' %>
                  <a href="<%= dashboard_disciplines_path %>"><button class="btn btn-primary">Voltar</button></a>
                </div>
            </div>
        </section>
    </section>
    <% end %>
