<link rel="stylesheet" href="/assets/css/dashboard/dashboard-form.css" media="all">

 <% if not @dashboard_discipline.new_record? %>
        <div class="row" style="margin-top: 15px;">
            <div class="col-xs-12">
            <%= link_to 'Remover', {:controller => :disciplines  ,
                                    :action => 'destroy', :type => "button", :id => @dashboard_discipline.id},:class => "btn btn-danger", data: {confirm: "Deseja remover?"}, :method => :delete %>
            </div>
        </div>
    <% end %>

<div class="row">
    <div class="col-xs-12">
        <%= form_for([:dashboard, @dashboard_discipline], :html => { :class => "form-horizontal form-dashboard"}) do |f| %>
                <section class="widget">
                <%= render "shared/messages", :target => @dashboard_discipline %>       
                        <header>
                                <span class="icon">&#59160;</span>
                                <hgroup>
                                    <h1>Disciplinas</h1>
                                    <h2><%= @dashboard_discipline.new_record? ? 'Cadastrar nova disciplina' : 'Modificar disciplina' %></h2>
                                </hgroup>
                    </header>
                    <div class="content">

                        <div class="form-group">
                            <label class="control-label col-sm-4">Nome</label>
                            <div class="col-sm-6">
                                <%= f.text_field :name,:class => "form-control" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">Código da Ementa</label>
                                <div class="col-sm-4">
                                <%= f.text_field :code,:class => "form-control" %>
                                </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">Número de Créditos</label>
                            <div class="col-sm-3">
                                <%= f.number_field :credit,:class => "form-control" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">Carga Horária</label>
                            <div class="col-sm-3">
                                 <%= f.number_field :hours,:class => "form-control"  %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">Período</label>
                            <div class="col-sm-3">
                                <%= f.number_field :semester,:class => "form-control" %>
                            </div>
                         </div>

                         <div class="form-group">
                            <label class="control-label col-sm-4">Turno</label>
                                <div class="col-sm-4">
                                <%= f.select(:shift,  [['Tarde',:noon], ['Noite',:night]], {}, :class => "form-control col-md-3")  %>
                            </div>
                         </div>

                        <div class="form-group">
                             <label class="control-label col-sm-4">Link Acadêmico</label>
                             <div class="col-sm-8">
                                <%= f.text_field :link,:class => "form-control" %>
                            </div>
                         </div>

            
                        <div class="form-group">
                            <label class="control-label col-md-4">Professores</label>  
                            <div class="col-sm-6">
                                <%= f.select :user_ids, User.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => "form-control multiselect" %>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-4">
                                <%= f.button 'Salvar', class: 'btn btn-warning', type: 'submit' %>
                                <a href="<%= dashboard_disciplines_path %>"><button type="button" class="btn btn-primary">Voltar</button></a>
                            </div>
                         </div>
                </section>
            
            <% end %>
    </div>   
</div>