<div class="col-xs-9 sty-background-default">
        <div class="gutter">
            <div class="">
                <h1 class="page-title">Disciplinas</h1>
            </div>
        </div>

        <div class="row no-gutter sty-box-disciplinas">
           <ul class="tab-turno nav nav-tabs" role="tablist">
                <li class="active" role="presentation"><a href="#tarde" aria-controls="tarde" id="tarde-tab" role="tab" data-toggle="tab">Tarde</a></li>
                <li role="presentation"><a href="#noite" aria-controls="noite" id="noite-tab" role="tab" data-toggle="tab">Noite</a></li>
           </ul>
           <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tarde">
                    <a class="pull-right" href="/assets/dist/images/fluxograma_tarde.jpg" data-lightbox="fluxograma_tarde"><img src="/assets/img/chart_organisation.png" title="Fluxograma turno da tarde"></a>
                    <h3 class="sty-color-default">1º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>LET1057</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/LET10572012100000.pdf">PORTUGUES INSTRUMENTAL II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>MAT1009</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/MAT10092012100000.pdf">CALCULO DIF E INTEGRAL I</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>FIL1433</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/FIL14332009200000.pdf">FIL E CONHECIMEN TECNOLOGICO</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1028</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF10282013100000.pdf">INTROD A CIENCIA DA COMPUTACAO</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1200</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12002007200000.pdf">LOGICA MATEMATICA</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1121</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11212014100000.pdf">INTRODUCAO A PROGRAMACAO I</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">2º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>FIS1607</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/FIS16072007100000.pdf">ELETRONICA BASICA</a></td>
                            <td align="center">6</td>
                            <td align="center">90hrs</td>
                        </tr>
                        <tr>
                            <td>LET1163</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/LET11632010100000.pdf">INGLES APLICADO A INFORMATICA</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>TEO1917</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/TEO19172014100000.pdf">HUMANIDADE E TRANSCENDENCIA</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1122</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11222014100000.pdf">INTRODUCAO A PROGRAMACAO II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>MAT1010</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/MAT10102012100000.pdf">CALCULO DIF E INTEGRAL II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>MAT1421</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/MAT14212012100000.pdf">ALGEBRA LINEAR I</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">3º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>EST1408</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/EST14082013100000.pdf">ESTATISTICA E PROBABILIDADE</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1216</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12162013200000.pdf">MATEMATICA DISCRETA</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1209</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12092005200000.pdf">ESTRUTURA DE DADOS I</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1405</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF14052013100000.pdf">CIRCUITOS DIGITAIS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>TEO1916</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/TEO19162009200000.pdf">HUMANISMO E CIDADANIA</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1023</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF10232014100000.pdf">METODOS NUMERICOS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">4º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>INF1123</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11232014100000.pdf">PROGRAMACAO ORIENTADA A OBJETO</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1406</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF14062009100000.pdf">ARQ E ORG DE COMPUTADORES I</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1217</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12172005200000.pdf">ESTRUTURA DE DADOS II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1502</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF15022009100000.pdf">INFORMATICA E ADMINISTRACAO</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1124</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11242014100000.pdf">PRATICA DE PROGRAMACAO</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1126</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11262013100000.pdf">LINGUAGENS FORMAIS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">5º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>INF1125</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11252014100000.pdf">PARADIG DE LING DE PROGRAMACAO</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1223</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12232010100000.pdf">BANCO DE DADOS I</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1127</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11272013100000.pdf">COMPILADORES</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1506</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF15062005200000.pdf">SISTEMAS DE INFORMACAO</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1407</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF14072009100000.pdf">ARQ E ORG DE COMPUTADORES II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1407</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/EST17042014100000.pdf">GRAFOS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">6º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>INF1218</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12182012200000.pdf">SISTEMAS OPERACIONAIS I</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1224</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12242013100000.pdf">BANCO DE DADOS II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1616</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF16162009100000.pdf">REDES DE COMPUTADORES I</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1720</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF17202005200000.pdf">ENGENHARIA DE SOFTWARE</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1701</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF17012008200000.pdf">COMPUTACAO GRAFICA</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1701</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12082005200000.pdf">ANÁLISE DE ALGORITMOS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">7º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>INF1727</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF17152009100000.pdf">SISTEMAS MULTIMIDIA</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>ELC1040</td>
                            <td colspan="2">ELETIVA DO CURSO DE QUATRO CR</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1219</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12192012200000.pdf">SISTEMAS OPERACIONAIS II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1508</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF15082005200000.pdf">ANALISE E PROJETO DE SISTEMAS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1617</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF16172009100000.pdf">REDES DE COMPUTADORES II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>SOC1230</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/SOC12302007200000.pdf">INFORMATICA E SOCIEDADE</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">8º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>ELC1040</td>
                            <td colspan="2">ELETIVA DO CURSO DE QUATRO CR</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1630</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF16302005200000.pdf">SISTEMAS DISTRIBUIDOS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>ELC1040</td>
                            <td colspan="2">ELETIVA DO CURSO DE QUATRO CR</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1808</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF18082005200000.pdf">TRABALHO DE CONCLUSAO DE CURSO</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1716</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF17162005200000.pdf">INTELIGENCIA ARTIFICIAL</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1807</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF18072005200000.pdf">ESTAGIO</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <div class="clear"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="noite">
                <a class="pull-right" href="/assets/dist/images/fluxograma_noite.jpg" data-lightbox="fluxograma_noite"><img src="assets/img/chart_organisation.png" title="Fluxograma turno da noite"></a>
                    <h3 class="sty-color-default">1º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>INF1121</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11212014100000.pdf">INTRODUCAO A PROGRAMACAO I</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>MAT1009</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/MAT10092012100000.pdf">CALCULO DIF E INTEGRAL I</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>LET1057</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/LET10572012100000.pdf">PORTUGUES INSTRUMENTAL II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1200</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12002007200000.pdf">LOGICA MATEMATICA</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1028</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF10282013100000.pdf">INTROD A CIENCIA DA COMPUTACAO</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">2º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>FIS1607</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/FIS16072007100000.pdf">ELETRONICA BASICA</a></td>
                            <td align="center">6</td>
                            <td align="center">90hrs</td>
                        </tr>
                        <tr>
                            <td>MAT1010</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/MAT10102012100000.pdf">CALCULO DIF E INTEGRAL II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>MAT1421</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/MAT14212012100000.pdf">ALGEBRA LINEAR I</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>LET1163</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/LET11632010100000.pdf">INGLES APLICADO A INFORMATICA</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1122</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11222014100000.pdf">INTRODUCAO A PROGRAMACAO II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>TEO1917</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/TEO19172014100000.pdf">HUMANIDADE E TRANSCENDENCIA</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">3º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>INF1209</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12092005200000.pdf">ESTRUTURA DE DADOS I</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1216</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12162013200000.pdf">MATEMATICA DISCRETA</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>EST1408</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/EST14082013100000.pdf">ESTATISTICA E PROBABILIDADE</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>TEO1916</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/TEO19162009200000.pdf">HUMANISMO E CIDADANIA</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1405</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF14052013100000.pdf">CIRCUITOS DIGITAIS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">4º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>INF1123</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11232014100000.pdf">PROGRAMACAO ORIENTADA A OBJETO</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1023</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF10232014100000.pdf">METODOS NUMERICOS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1124</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11242014100000.pdf">PRATICA DE PROGRAMACAO</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1406</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF14062009100000.pdf">ARQ E ORG DE COMPUTADORES I</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1217</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12172005200000.pdf">ESTRUTURA DE DADOS II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">5º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>INF1502</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF15022009100000.pdf">INFORMATICA E ADMINISTRACAO</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1125</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11252014100000.pdf">PARADIG DE LING DE PROGRAMACAO</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1407</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF14072009100000.pdf">ARQ E ORG DE COMPUTADORES II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1126</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11262013100000.pdf">LINGUAGENS FORMAIS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1407</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/EST17042014100000.pdf">GRAFOS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">6º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>INF1127</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF11272013100000.pdf">COMPILADORES</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1616</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF16162009100000.pdf">REDES DE COMPUTADORES I</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1506</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF15062005200000.pdf">SISTEMAS DE INFORMACAO</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1701</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12082005200000.pdf">ANÁLISE DE ALGORITMOS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1223</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12232010100000.pdf">BANCO DE DADOS I</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">7º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>INF1701</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF17012008200000.pdf">COMPUTACAO GRAFICA</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1720</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF17202005200000.pdf">ENGENHARIA DE SOFTWARE</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1218</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12182012200000.pdf">SISTEMAS OPERACIONAIS I</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1224</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12242013100000.pdf">BANCO DE DADOS II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1617</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF16172009100000.pdf">REDES DE COMPUTADORES II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">8º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>INF1727</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF17152009100000.pdf">SISTEMAS MULTIMIDIA</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1219</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF12192012200000.pdf">SISTEMAS OPERACIONAIS II</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1630</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF16302005200000.pdf">SISTEMAS DISTRIBUIDOS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1508</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF15082005200000.pdf">ANALISE E PROJETO DE SISTEMAS</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>ELC1040</td>
                            <td colspan="2"><a target="_blank" href="">ELETIVA DO CURSO DE QUATRO CR</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <h3 class="sty-color-default">9º Período</h3>
                    <table class="table sty-layout-table col-xs-8">
                        <tr>
                            <th>CÓDIGO</th>
                            <th colspan="2">DESCRIÇÃO</th>
                            <th class="sty-align-theader">CRÉDITOS</th>
                            <th class="sty-align-theader">CARGA HORÁRIA</th>
                        </tr>
                        <tr>
                            <td>INF1807</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF18072005200000.pdf">ESTAGIO</a></td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>SOC1230</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/SOC12302007200000.pdf">INFORMATICA E SOCIEDADE</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>INF1808</td>
                            <td colspan="2"><a target="_blank" href="http://www.unicap.br/pdf/ementa/INF18082005200000.pdf">TRABALHO DE CONCLUSAO DE CURSO</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>ELC1040</td>
                            <td colspan="2">ELETIVA DO CURSO DE QUATRO CR</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                        <tr>
                            <td>ELC1040</td>
                            <td colspan="2">ELETIVA DO CURSO DE QUATRO CR</td>
                            <td align="center">4</td>
                            <td align="center">60hrs</td>
                        </tr>
                    </table>
                    <div class="clear"></div>
                </div>
           </div>         
        </div>


        <!-- <div class="btn">
            <%= link_to 'Currículo 47A5-Tarde', "#{disciplines_path()}?shift=#{Discipline.shifts[:noon]}" %>
            <p> &nbsp &nbsp</p>
            <%= link_to 'Currículo 47A5-Noite', "#{disciplines_path()}?shift=#{Discipline.shifts[:night]}" %>
            <br>
            <% if @shift == Discipline.shifts[:noon] %>
            <a id="b" href="/assets/dist/images/fluxograma_tarde.jpg" data-lightbox="fluxograma_tarde" data-title="MATRIZ CURRICULAR TARDE"> Matriz Curricular Tarde </a>
            <% else %>
            <a id="b" href="/assets/dist/images/fluxograma_noite.jpg" data-lightbox="fluxograma_noite" data-title="MATRIZ CURRICULAR NOITE"> Matriz Curricular Noite </a>
            <% end %>
        </div>
        <ul class="pagination pull-right">
            <p>PERÍODOS:</p>
            <% if @semester == 1 %>
            <li class="disabled"><a href="#"><<</a></li>
            <% else %>
            <li><a href="<%= "#{disciplines_path()}?shift=#{@shift}&semester=#{@semester-1}"%>"><<</a></li>
            <% end %>

            <% (1..@max_semesters).each do |semester| %>
            <% if semester == @semester %>
                <li class='active'>
            <% else %>
                <li>
            <% end %>
                <a href="<%= "#{disciplines_path()}?shift=#{@shift}&semester=#{semester}"%>">
                    <%= semester%>
                </a>
            </li>
            <% end %>

            <% if @max_semesters == @semester %>
            <li class="disabled"><a href="#">>></a></li>
            <% else %>
            <li><a href="<%= "#{disciplines_path()}?shift=#{@shift}&semester=#{@semester+1}"%>">>></a></li>
            <%end%>
        </ul>
        <div class="gutter">
            <div class="col-lg-12 col-md-12">
                <table class="table table-striped table-courses">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Programação</th>
                            <th>Créditos</th>
                            <th>Carga Horária</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @disciplines.each do |discipline| %>
                        <tr align="center">
                            <td>
                                <%= discipline.code %>
                            </td>
                            <td align="left">
                                <% if discipline.link.nil? %>
                                   <%= discipline.name %>
                                <% else %>
                                <a href="<%= discipline.link %>" title="Programação Acadêmica de Disciplina " target="_blank">
                                    <%= discipline.name %>
                                </a>
                                <% end %>
                            </td>
                            <td>
                                <%= discipline.credit %>
                            </td>
                            <td>
                                <%= discipline.hours %>hrs
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div> -->
</div>
