<div class="col-sm-9 col-md-9 col-lg-9 sty-margin-box">

<!-- indicadores do slideshow, não alterar, são fixos -->
<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators hidden-xs- hidden-sm" style="padding-bottom: 42px;">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
  </ol>

  <!-- fim indicadores do slideshow, não alterar, são fixos -->
  
  <!-- Código referente aos slides do slideshow -->
  <div class="carousel-inner" role="listbox">
        <div class="active item" align="center">
            <!-- INICIO DO SLIDE 1 -->
            <!-- Em href="" alterar para o link que quer redirecionar ao clicar na imagem, se não tiver, deixar vazio mesmo -->
            <a href="">
            <!-- Em src abaixo não alterar, é o endereço da imagem, é necessário apenas substituir o arquivo por um com o mesmo nome na pasta "public/assets/img/"  -->
            <img class="mySlides" src="/assets/img/slide-1.jpg">
            <div class="carousel-caption">
                <!-- Dentro da tag H4 abaixo está a descrição da imagem que quiser adicionar -->
                <h4 class="sty-title-img">Cresce o número de mulheres que fazem cursos na área de TI</h4>
            </div>
            </a>
            <div class="clear"></div>
            <!-- FIM DO SLIDE 1 -->
        </div>
        <div class="item" align="center">
            <!-- INICIO DO SLIDE 2 -->
            <a href="">
            <img class="mySlides" src="/assets/img/slide-2.jpg"></a>
            <div class="carousel-caption">
                <h4 class="sty-title-img">A Biblioteca da Católica é a maior do Nordeste!</h4>
            </div>
            </a>
            <div class="clear"></div>
            <!-- FIM DO SLIDE 2 -->
        </div>
        <div class="item" align="center">
            <!-- INICIO DO SLIDE 3 -->
            <a href="">
            <img class="mySlides" src="/assets/img/slide-3.jpg"></a>
            <div class="carousel-caption">
                <h4 class="sty-title-img">Alunos de TI tem acesso exclusivo ao Laboratório Inácio Loyola</h4>
            </div>
            </a>
            <div class="clear"></div>
            <!-- FIM DO SLIDE 3 -->
        </div>
        <div class="item" align="center">
            <!-- INICIO DO SLIDE 4 -->
            <a href="">
            <img class="mySlides" src="/assets/img/slide-4.jpg"></a>
            <div class="carousel-caption">
                <h4 class="sty-title-img">65 anos de Unicap, várias conquistas marcam a história da universidade e o futuro promete muito mais.</h4>
            </div>
            </a>
            <div class="clear"></div>
            <!-- FIM DO SLIDE 4 -->
        </div>
  </div>
<!-- fim Código referente aos slides do slideshow -->

  <!-- Carousel nav -->
  <a class="carousel-control left" role="button" href="#carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" role="button" href="#carousel" data-slide="next">&rsaquo;</a>
</div>

  <div class="col-md-6 col-sm-12 sty-last-news" >
    <div class="row sty-container-box">
        <ul class="list-unstyled clear-margins">
            <li class="widget-container widget_recent_news">
                <span class="sty-title-box">Últimas Notícias</span>
                <ul class="list-unstyled">
                    <% @latest_articles.each do |article| %>
                    <% if article.image? %>
                    <a href="<%= article_path(article)%>" title="<%= article.title%>" style="width: 100%;height: 100%;display: block;margin:0;" >
                        <li class="sty-spacing-articles news-mini-wrap2">

                            <div class="recent-news-content clearfix">
                                <figure class="col-xs-3 recent-news-thumb" width="80px">
                                    <!-- <img> -->
                                    <%= image_tag article.image.url, class: 'attachment-thumbnail wp-post-image' %>
                                    <!-- </img> -->
                                </figure>
                                <div class="col-xs-9">
                                   <h1 class="title-median"><%= article.title %></h1>
                                   <div class="recent-news-text news-summary2">
                                    <p class="sty-event-opportunity">
                                        <%= truncate_html article.description %>                                        
                                    </p>
                                </div> 
                            </div>

                        </div>
                    </li>
                </a>
                <% else %>
                <a href="<%= article_path(article)%>" title="<%= article.title%>" style="width: 100%;height: 100%;display: block;margin:0;" >
                    <li class="sty-spacing-articles news-mini-wrap2">
                        <div class="recent-news-content clearfix">
                            <div class="col-xs-12">
                                <h1 class="title-median"><%= article.title %></h1>
                                <div class="recent-news-text news-summary2">
                                    <p class="sty-article-description">
                                        <%= truncate_html article.description %>    
                                    </p>
                                </div> 
                            </div>
                        </div>
                    </li>
                </a>
                <% end %>
                <% end %>
            </ul>
        </li>
    </ul>
  </div>
</div>

  <div class="col-md-6 col-sm-12 sty-last-events">
        <div class="row sty-container-box">
       
        <ul class="list-unstyled clear-margins">
               <li class="widget-container widget_recent_news">
                <span class="sty-title-box">Últimos Eventos</span>
                   <ul class="list-unstyled">
                    <% @latest_events.each do |event| %>
                    <% if event.image? %>
                    <a href="<%= event_path(event)%>" title="<%= event.title%>" style="width: 100%;height: 100%;display: block;margin:0;" >
                        <li class="sty-spacing-articles news-mini-wrap2">

                            <div class="recent-news-content clearfix">
                                <figure class="col-xs-3 recent-news-thumb" width="80px">
                                    <!-- <img> -->
                                    <%= image_tag event.image.url, class: 'attachment-thumbnail wp-post-image' %>
                                    <!-- </img> -->
                                </figure>
                                <div class="col-xs-9">
                                   <h1 class="title-median"><%= event.title %></h1>
                                   <div class="recent-news-text news-summary2">
                                    <p class="sty-event-opportunity">
                                        <%= truncate_html event.description %>                                        
                                    </p>
                                </div> 
                            </div>

                        </div>
                    </li>
                </a>
                <% else %>
                <a href="<%= event_path(event)%>" title="<%= event.title%>" style="width: 100%;height: 100%;display: block;margin:0;" >
                    <li class="sty-spacing-articles news-mini-wrap2">
                        <div class="recent-news-content clearfix">
                            <div class="col-xs-12">
                                <h1 class="title-median"><%= event.title %></h1>
                                <div class="recent-news-text news-summary2">
                                    <p class="sty-article-description">
                                        <%= truncate_html event.description %>    
                                    </p>
                                </div> 
                            </div>
                        </div>
                    </li>
                </a>
                <% end %>
                <% end %>
                   </ul>
                    </li>
            </ul>
  </div>
</div>
</div>
