<div class="col-sm-9 sty-margin-box">
    <!-- <figure id="slide">
      <img class="mySlides" src="/assets/img/slide-1.jpg" data-description="Meninas do curso de computação" style="width:100%">
      <img class="mySlides" src="/assets/img/slide-2.jpg" data-description="Biblioteca da unicap" style="width:100%">
      <img class="mySlides" src="/assets/img/slide-3.jpg" data-description="Alunos no laboratório Inácio Loyola" style="width:100%">
      <img class="mySlides" src="/assets/img/slide-4.jpg" data-description="65 anos da Unicap" style="width:100%">
    </figure> -->

<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators hidden-xs- hidden-sm" style="padding-bottom: 42px;">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner" role="listbox">
        <div class="active item" align="center" height="100%">
            <a href=""><img class="mySlides" src="/assets/img/slide-1.jpg">
            <div class="carousel-caption">
                <h4 class="sty-title-img">Cresce o número de mulheres que fazem cursos na área de TI</h4>
                <!-- <p class="sty-desc-img">Nos últimos anos o número de mulheres em cursos relacionados a TI cresceu...Leia mais</p> -->
            </div>
            </a>
            <div class="clear"></div>
        </div>
        <div class="item" align="center">
            <a href=""><img class="mySlides" src="/assets/img/slide-2.jpg"></a>
            <div class="carousel-caption">
                <h4 class="sty-title-img">A Biblioteca da Católica é a maior do Nordeste!</h4>
            </div>
            </a>
            <div class="clear"></div>
        </div>
        <div class="item" align="center">
            <a href=""><img class="mySlides" src="/assets/img/slide-3.jpg"></a>
            <div class="carousel-caption">
                <h4 class="sty-title-img">Alunos de TI tem acesso exclusivo ao Laboratório Inácio Loyola</h4>
            </div>
            </a>
            <div class="clear"></div>
        </div>
        <div class="item" align="center">
            <a href=""><img class="mySlides" src="/assets/img/slide-4.jpg"></a>
            <div class="carousel-caption">
                <h4 class="sty-title-img">65 anos de Unicap, várias conquistas marcam a história da universidade e o futuro promete muito mais.</h4>
            </div>
            </a>
            <div class="clear"></div>
        </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" role="button" href="#carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" role="button" href="#carousel" data-slide="next">&rsaquo;</a>
</div>

  <div class="col-md-6 col-sm-12 sty-last-news" >
    <div class="row sty-container-box">
        <ul class="list-unstyled clear-margins">
            <li class="widget-container widget_recent_news">
                <span class="sty-title-box">Últimas Notícias</span>
                <ul class="list-unstyled">
                    <% @latest_articles.each do |article| %>
                    <% if article.image? %>
                    <a href="<%= article_path(article)%>" title="<%= article.title%>" style="width: 100%;height: 100%;display: block;margin:0;" >
                        <li class="sty-spacing-articles news-mini-wrap2">

                            <div class="recent-news-content clearfix">
                                <figure class="col-xs-3 recent-news-thumb" width="80px">
                                    <!-- <img> -->
                                    <%= image_tag article.image.url, class: 'attachment-thumbnail wp-post-image' %>
                                    <!-- </img> -->
                                </figure>
                                <div class="col-xs-9">
                                   <h1 class="title-median"><%= article.title %></h1>
                                   <div class="recent-news-text news-summary2">
                                    <p class="sty-event-opportunity">
                                        <%= truncate_html article.description %>                                        
                                    </p>
                                </div> 
                            </div>

                        </div>
                    </li>
                </a>
                <% else %>
                <a href="<%= article_path(article)%>" title="<%= article.title%>" style="width: 100%;height: 100%;display: block;margin:0;" >
                    <li class="sty-spacing-articles news-mini-wrap2">
                        <div class="recent-news-content clearfix">
                            <div class="col-xs-12">
                                <h1 class="title-median"><%= article.title %></h1>
                                <div class="recent-news-text news-summary2">
                                    <p class="sty-article-description">
                                        <%= truncate_html article.description %>    
                                    </p>
                                </div> 
                            </div>
                        </div>
                    </li>
                </a>
                <% end %>
                <% end %>
            </ul>
        </li>
    </ul>
  </div>
</div>

  <div class="col-md-6 col-sm-12 sty-last-events">
        <div class="row sty-container-box">
       
        <ul class="list-unstyled clear-margins">
               <li class="widget-container widget_recent_news">
                <span class="sty-title-box">Últimos Eventos</span>
                   <ul class="list-unstyled">
                    <% @latest_events.each do |event| %>
                    <% if event.image? %>
                    <a href="<%= event_path(event)%>" title="<%= event.title%>" style="width: 100%;height: 100%;display: block;margin:0;" >
                        <li class="sty-spacing-articles news-mini-wrap2">

                            <div class="recent-news-content clearfix">
                                <figure class="col-xs-3 recent-news-thumb" width="80px">
                                    <!-- <img> -->
                                    <%= image_tag event.image.url, class: 'attachment-thumbnail wp-post-image' %>
                                    <!-- </img> -->
                                </figure>
                                <div class="col-xs-9">
                                   <h1 class="title-median"><%= event.title %></h1>
                                   <div class="recent-news-text news-summary2">
                                    <p class="sty-event-opportunity">
                                        <%= truncate_html event.description %>                                        
                                    </p>
                                </div> 
                            </div>

                        </div>
                    </li>
                </a>
                <% else %>
                <a href="<%= event_path(event)%>" title="<%= event.title%>" style="width: 100%;height: 100%;display: block;margin:0;" >
                    <li class="sty-spacing-articles news-mini-wrap2">
                        <div class="recent-news-content clearfix">
                            <div class="col-xs-12">
                                <h1 class="title-median"><%= event.title %></h1>
                                <div class="recent-news-text news-summary2">
                                    <p class="sty-article-description">
                                        <%= truncate_html event.description %>    
                                    </p>
                                </div> 
                            </div>
                        </div>
                    </li>
                </a>
                <% end %>
                <% end %>
                   </ul>
                    </li>
            </ul>
  </div>
</div>
</div>
