<div class="col-xs-9 sty-background-default">
    <h1 class="page-title">Eventos</h1>
    <ul class="list-unstyled">
        <% @events.each do |event| %>
        <a href="<%= event_path(event) %>" title="<%= event.title%>" style="height: 100%;">

            <li class="news-mini-wrap">
                <div class="up-event-date2 col-xs-2">
                    <%= event.date.strftime("%d %b %Y")%>
                </div>

                <div class="page-title-meta col-xs-10">
                    <h1 class="title-median2"><%= event.title%></h1>
                    <div class="news-summary3">
                        <p>
                            <%= truncate_html event.description %>    
                        </p>
                    </div>
                </div>
            </li>    
        </a>
        
        <% end %>
    </ul>

        <div class="col-sm-12" id="pagination-content" style="margin-top:15px;">
                    <%= will_paginate(@events) %>
        </div>
</div>