<div class="col-lg-8 col-md-8">
    <div class="col-padded2">
        <div class="row gutter">
            <div class="col-lg-12 col-md-12">
                <h1 class="page-title3"><%= @event.title %></h1>
                <figure>
                    <br><img src="<%= @event.image.url %>" alt="<%= @event.title %>" class="img-news">
                </figure>
                <span class="news-meta-date"><b>Data: </b><%= @event.date.strftime("%d/%m/%Y")%> - <%= @event.date.strftime("%H:%M")%> <br/> <b>Local: </b> <p> <%= @event.place %></p></span>
                <div class="news-body2">
                    <p class="call-out">
                        <p align="justify">
                            <%= @event.description.html_safe %>
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
