<div class="row">
    <div class="col-xs-12">
    <section class="widget">
    <%= render "shared/messages" %>     
        <header>
       <span class="icon">&#59160;</span>
            <hgroup>
                <h1>Turmas</h1>
                <h2>Turmas cadastradas</h2>
            </hgroup>

        </header>
        <div class="content">
            <table class="table sorteable-table table-hover" border="0" width="100">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Disciplina</th>
                        <th>Criação</th>
                        <% if current_user.admin? %>
                            <th>Autor</th>
                        <% end %>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @classes.each do |klass| %>
                          <tr>
                          <td>
                            <%= link_to klass.name,  edit_dashboard_discipline_class_path(klass) %>
                          </td>
                            <td>
                              <%= link_to "#{klass.discipline.name} - #{klass.discipline.night? ? 'Noite' : 'Tarde'}",  edit_dashboard_discipline_path(klass.discipline) %>
                            </td>
                            <td>
                              <%= link_to klass.created_at,  edit_dashboard_discipline_class_path(klass) %>
                            </td>
                            <% if current_user.admin? %>
                                <td>
                                   <%= link_to klass.user_id == current_user.id ? 'Você' : klass.user.name,  edit_dashboard_discipline_class_path(klass) %>
                                </td>
                            <% end %>
                            <td class="td-action">
                              <%= link_to 'Remover', {:controller => :discipline_classes,
                              :action => 'destroy', :id => klass.id },:class => "button danger icon trash", :method => :delete %>  
                            </td>
                        </tr>
                      <% end %>
                </tbody>
            </table>

              <div class="col-md-12" id="pagination-content" style="margin-top:15px;">
                    <%= will_paginate(@classes) %>
                </div>
        </div>
    </section>
   </div>
</div>   


