<link rel="stylesheet" href="/assets/css/dashboard/dashboard-form.css" media="all">

<div class="row">
  <div class="col-xs-12">
	<%= form_for([:dashboard, @user], :html => {:multipart => true, :class => "form-horizontal form-dashboard"})  do |f| %>
      <section class="widget">
      <%= render "shared/messages", :target => @user %>          
        <header>
          <span class="icon">&#59160;</span>
          <hgroup>
            <h1 style= "line-height: 38px;" >Usuário</h1>
          </hgroup>
        </header>
        
        <div class="content">
                    <div class="col-sm-12 col-sm-push-6">
                        <img src="<%= @user.avatar.url %>" width="128" height="128"/>
                    </div>
                    
                    <div class="form-group">
                      <label class="control-label col-sm-4">Imagem do Perfil</label>
                      <div class="col-sm-6">
                        <%= file_field :user, :avatar, :class => "form-control" %>
                       </div>
                      </div>

											    	
          <div class="col-sm-6">

          <div class="form-group">
           <label class="control-label col-sm-3">Nome</label>
             <div class="col-sm-9">
               <%= text_field :user, :name, value: @user.name, :class => "form-control" %>
               </div>
          </div>

             <div class="form-group">
           <label class="control-label col-sm-3">Titulação</label>
             <div class="col-sm-5">
                  <%= select :user_profile, :degree, options_for_select(['Mestre', 'Doutor', 'Especialista', 'Graduado', 'Técnico'], selected: @user.profile.degree), {}, {class: 'form-control'} %>
              </div>
          </div>

            <div class="form-group">
              <label class="control-label col-sm-3">Página pessoal</label>
              <div class="col-sm-9">
                <%= text_field :user_profile, :link, value: @user.profile.link ,:class => "form-control" %>
              </div>
          </div>

          <div class="form-group">
              <label class="control-label col-sm-3">Matrícula</label>
              <div class="col-md-9">
                <%= text_field :user, :enrollment, :class => "form-control" %>
              </div>
          </div>
          
                    
      <div class="form-group">
       <label class="control-label col-sm-3">Nova senha</label>
        <div class="col-md-9">
            <%= password_field :user, :password, value: @user.password, :class => "form-control" %>
         </div>
       </div>

          <div class="form-group">
              <label class="control-label col-sm-3">Áreas de interesse</label>
              <div class="col-md-9">
                <%= text_area :user_profile, :interests, value: @user.profile.interests, rows: "4" ,:class => "form-control" %>
              </div>
          </div>

 

      </div>

      <div class="col-md-6">
        <div class="form-group">
              <label class="control-label col-sm-3">Cargo</label>
              <div class="col-sm-8">
                <%if current_user.admin? %>
                  <%= text_field :user_profile, :role, value: @user.profile.role, :class => "form-control" %>
                <% else %>
                   <%= text_field :user_profile, :role, value: @user.profile.role, :class => "form-control", :disabled => "true" %>
                <% end %>
              </div>
          </div>

            <div class="form-group">
              <label class="control-label col-sm-3">Curriculum lattes</label>
              <div class="col-sm-9">
                <%= text_field :user_profile, :lattes, value: @user.profile.lattes,:class => "form-control" %>
              </div>
          </div>

                 
                
    

         <div class="form-group">
              <label class="control-label col-sm-3">Professor</label>
              <div class="col-md-4">
                <% if current_user.admin? %>
                  <%= select :user_profile, :is_teacher, options_for_select([['Sim','1'], ['Não','0']], selected: @user.user_profile.is_teacher ? '1' : '0'), {}, { :class => "form-control" } %>
                <% else %>
               <%= select :user_profile, :is_teacher, options_for_select([['Sim','1'], ['Não','0']], selected: @user.user_profile.is_teacher ? '1' : '0'), {}, { :class => "form-control",:disabled => "true" } %>
                <% end %>
              </div>
          </div>


        <div class="form-group">
              <label class="control-label col-sm-3">Email</label>
              <div class="col-md-9">
                <%= text_field :user, :email, value: @user.email ,:class => "form-control" %>
              </div>
          </div>


           <div class="form-group">
       <label class="control-label col-sm-3">Confirmação</label>
          <div class="col-md-9">
            <%= password_field :user, :password_confirmation, value: @user.password_confirmation , :class => "form-control" %>
          </div>
       </div>

            <div class="form-group">
              <label class="control-label col-sm-3">Tipo de conta</label>
              <div class="col-md-5">
                  <%if current_user.admin? %>
                     <%= select :user, :role, options_for_select([['Usuário','user'], ['Admin','admin']], selected: @user.role.nil? ? :user : @user.role), {}, { :class => "form-control" } %>
                  <% else %>
                     <%= select :user, :role, options_for_select([['Usuário','user'], ['Admin','admin']], selected: @user.role.nil? ? :user : @user.role), {}, { :class => "form-control", :disabled => "disabled" } %>
                  <% end %>
              </div>
          </div>

      </div>
          
      <div class="form-group">
            <div class="col-sm-6 col-sm-offset-6">
                <%= f.button 'Salvar', class: 'btn btn-warning', type: 'submit' %>
                 <a href="<%= dashboard_materials_path %>"><button type="button" class="btn btn-primary">Voltar</button></a>
              </div>
       </div>


        </div>
    </section>
  <% end %>
  </div>
</div>