<div class="row">
    <div class="col-xs-12">
    <section class="widget">
    <%= render "shared/messages" %>     
        <header>
       <span class="icon">&#59160;</span>
            <hgroup>
                <h1>Usuários</h1>
                <h2>Usuários cadastrados</h2>
            </hgroup>

        </header>
        <div class="content">
            <table class="table sorteable-table table-hover" border="0" width="100">
                <thead>
                 <tr>
                    <th>Nome</th>
                    <th class="extended-sorteable">Matrícula</th>
                    <th>Email</th>
                    <th class="center-text">Opções</th>
                </tr>
                </thead>
                <tbody>
                      <% @users.each do |user| %>
                <tr>
                    <td>
                        <img src="<%= user.avatar.url%>" width="30" height="30"/>
                        <%= link_to user.name,  edit_dashboard_user_path(user) %>
                    </td>
                    <td>
                        <%= link_to user.enrollment,  edit_dashboard_user_path(user) %>
                    </td>
                    <td>
                        <%= link_to user.email,  edit_dashboard_user_path(user) %>
                    </td>
                    <td class="td-action">
                        <%= link_to 'Remover', {:controller => :users,
                        :action => 'destroy', :id => user.id },:class => "button danger icon trash", data: {confirm: "Deseja remover?"}, :method => :delete %>  
                     </td>
                  </tr>
                      <% end %>
                </tbody>
            </table>

              <div class="col-md-12" id="pagination-content" style="margin-top:15px;">
                    <%= will_paginate(@users) %>
                </div>
        </div>
    </section>
   </div>
</div>   





