<div class="col-lg-8 col-md-8">
    <div class="col-padded2">
        <div class="gutter">
            <div class="col-lg-12 col-md-12">
                <h1 class="page-title">Oportunidades</h1>
            </div>
        </div>
        <div class="gutter">
            <div class="col-lg-12 col-md-12">
                <% @oportunities.each do |oportunity| %>
                <div class="news-mini-wrap4 col-lg-2 col-md-2">
                    <figure class="news-featured-image3">
                        <a href="<%= oportunity_path(oportunity) %>" title="<%= oportunity.title%>">
                            <img src="<%= oportunity.image.url %>" class="attachment-thumbnail wp-post-image" height="123" width="264" />
                       </a>
                    </figure>
                    </div>

                <div class="news-mini-wrap4 col-lg-10 col-md-10">
                    <div class="page-title-meta">
                        <h1 class="title-median3">
                            <a href="<%= oportunity_path(oportunity) %>" title="<%= oportunity.title%>" style="color: #00636F;">   
                                <%= oportunity.title%>
                            </a>
                        </h1>
                        <span class="news-meta-date">Publicado em <%= oportunity.created_at.strftime("%d/%m/%Y")%></span>
                        <p style="padding-top: 10px; margin-bottom: 0px; color: #333333;"><span class="news-meta-date"><b> <%= oportunity.employer%></span> </b> </p>
                        <div>
                            <p style="color: #333333;">
                                <%= sanitize oportunity.description[0..220]%>...
                            </p>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <div class="gutter">
            <div class="col-lg-12">
                <%= will_paginate @oportunities, :previous_label => 'Anterior', :next_label => 'Próximo' %>
            </div>
        </div>
    </div>
</div>
