<div class="col-xs-9" style="background-color: #fff;box-shadow: 0px 0px 2px 0px #adadad;border-radius:4px;padding-top:20px;position: relative;">
        <div class="gutter">
            <div class="col-xs-12">
            <% if @oportunity.image? %>
            <div class="col-xs-2" style="padding-right: 0px; padding-left: 0px;">
                <figure style="margin-left: 15px;">
                    <br><img src="<%= @oportunity.image.url %>" alt="<%= @oportunity.title %>" class="img-news2">
                </figure>
            </div>
            <div class="col-xs-10">
                <h1 class="page-title5"><%= @oportunity.title %></h1>
                <span>Publicado em <%= @oportunity.created_at.strftime("%d/%m/%Y")%></span>
                <span class="news-meta-date"><p style="font-size: 16px; margin-bottom: 0px; padding-top: 25px; color: #333333;"><b><%= @oportunity.employer %></b></p></span>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="news-body2">
                    <p class="call-out">
                        <p align="justify">
                            <%= @oportunity.description.html_safe %>
                        </p>
                    </p>
                </div>
            </div>
            <% else %>
            <div class="col-xs-10">
                <h1 class="page-title5"><%= @oportunity.title %></h1>
                <span>Publicado em <%= @oportunity.created_at.strftime("%d/%m/%Y")%></span>
                <span class="news-meta-date"><p style="font-size: 16px; margin-bottom: 0px; padding-top: 25px; color: #333333;"><b><%= @oportunity.employer %></b></p></span>
            </div>
            <div class="col-xs-12">
                <div class="news-body2">
                    <p class="call-out">
                        <p align="justify">
                            <%= @oportunity.description.html_safe %>
                        </p>
                    </p>
                </div>
            </div>
            </div>
            <% end %>
        </div>
     </div>
</div>