<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector:'textarea',
    statusbar: false,
    menubar: false,
    min_height: 400,
    plugins: 'link image code',
    toolbar: [
      'undo redo | styleselect | bold italic | link image',
      'alignleft aligncenter alignright'
    ]
  });

</script>

<div class="botao2">
  <% if @oportunity.id.nil? or @oportunity.id == 0%>
      <%= link_to 'Limpar', new_dashboard_oportunity_path(), class: 'red', type: 'button' %>
  <% else %>
      <%= link_to button_tag('Remover', class: 'red'), {:controller => :oportunities,
                                                        :action => 'destroy', :id => @oportunity.id }, :method => :delete %>
  <% end %>
  <a href="<%= dashboard_oportunities_path() %>"><button class="green">Voltar</button></a>
</div>
<%= form_for([:dashboard, @oportunity], :multipart => true) do |f| %>
  <% if @oportunity.errors.any? %>
     <div id="error_explanation">
        <h2>Não foi possível completar a ação, o formulario possui erros:</h2>
     </div>
  <% end %>
    <section class="content">
      <section class="widget" style="min-height:300px">
        <header>
          <span class="icon">&#59160;</span>
          <hgroup>
            <h1>Oportunidade</h1>
          </hgroup>

        </header>
        <div class="content">
          <div class="field-wrap">
            <label>Título: <%= error_tag @oportunity, :title%></label>
            <%= f.text_field :title %>
          </div>

          <div class="field-wrap">
            <label>Imagem da empresa: </label>
            <%= f.file_field :image %>
          </div>

          <div class="field-wrap">
            <label>Empresa: <%= error_tag @oportunity, :employer%></label>
            <%= f.text_field :employer %> 
          </div>

          <div class="field-wrap wysiwyg-wrap">
            <%= error_tag @oportunity, :description%> <%= f.text_area :description %> 
          </div>

          <%= f.button 'Salvar', class: 'green', type: 'submit' %>
        </div>
      </section>
    </section>
    </form>
<% end %>
