<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Portal C3 - Curso de Ciência da Computação</title>
	<link rel="shortcut icon" type="image/ico" href="/assets/img/favicon.ico" />


	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>


	<link href="/assets/css/@font-face/open-sans.css" rel="stylesheet" type="text/css">
	<link href="/assets/js/dropdown-menu/dropdown-menu.css" rel="stylesheet" type="text/css">
	<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css">
	<link href="/assets/js/audioplayer/audioplayer.css" rel="stylesheet" type="text/css">
	<link href="/assets/style.css" rel="stylesheet" type="text/css">
	<link href="/assets/dist/css/lightbox.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.min.css" media="all" />
</head>

<body role="document" onload="carregarSlides()">

	<header id="k-head" style="background-color: #fff;border-bottom: 1px solid #f7f7f7;box-shadow: 0px 1px 1px 1px #adadad;">
		<%= render :partial => "layouts/header.html.erb" %>
	</header>


	<section class="main-section" id="k-body" style="padding-left: 30px;padding-right: 30px;">
		<div class="row">
			<div class="col-xs-9">
				<nav id="k-menu" class="k-main-navig">
					<!-- main navig -->
					<ul id="main-menu" class="k-dropdown-menu navbar-left" style="width: 100%;padding: 0!important;font-size: 15px;margin-top: 12px;margin-bottom: 7px;">
						<li>
							<strong><%= link_to 'Home', home_path(), class: (controller_name == 'welcome' ? 'active':'') %></strong>
						</li>
						<li>
							<strong><%= link_to 'Notícias', articles_path(), class: (controller_name=='articles' ? 'active':'') %></strong>
						</li>
						<li>
							<strong><%= link_to 'Eventos', events_path(), class: (controller_name=='events' ? 'active':'') %></strong>
						</li>
						<li>
							<strong><%= link_to 'Oportunidades', oportunities_path(), class: (controller_name=='oportunities' ? 'active':'') %></strong>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-xs-3 inner-addon right-addon sty-search-div">
				<i class="glyphicon glyphicon-search"></i>
				<input class="sty-search-input" type="text" class="form-control" placeholder="Buscar" />
			</div>
		</div>
		<!-- <div class="row no-gutter">

	</div> -->
	<!-- main navig end -->
	<!-- <p class="notice"><%= notice %></p> -->
	<!-- <p class="alert"><%= alert %></p> -->
	<div class="row">
		<%= yield %>              
		<%= render :partial => 'layouts/sidebar.html.erb' %>
	</div>
</section>

<%= render :partial => "layouts/footer.html.erb" %>

<footer class="footer" style="background-color: #111;padding: 40px;">
	<%= render :partial => "layouts/sub_footer.html.erb" %>

</footer>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/dropdown-menu/dropdown-menu.js"></script>
<script src="/assets/js/fancybox/jquery.fancybox.pack.js"></script>
<script src="/assets/js/fancybox/jquery.fancybox-media.js"></script>
<script src="/assets/js/jquery.fitvids.js"></script>
<script src="/assets/js/audioplayer/audioplayer.min.js"></script>
<script src="/assets/js/jquery.easy-pie-chart.js"></script>
<script src="/assets/js/theme.js"></script>
<script src="/assets/dist/js/lightbox-plus-jquery.js"></script>
<script src="/assets/js/home/main.js"></script>
</body>

</html>