<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>Admin PORTAL C3</title>
    <link rel="shortcut icon" href="../../../img/favicon.png" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" media="all">
  <link rel="stylesheet" href="/assets/css/admin/style.css" media="all" />
  <link rel="stylesheet" href="/assets/css/multi-select.css" media="all" />
  <link rel="stylesheet" href="/assets/css/bootstrap-multiselect/bootstrap-multiselect.css" media="all">
  <link rel="stylesheet" href="/assets/css/admin/buttons.css" media="all" />


  <%= csrf_meta_tags %>

<script src="/assets/js/jQuery/jquery-2.2.4.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/jQuery/jquery.wysiwyg.js"></script>
</head>

<body data-no-turbolink="true">


<div class="col-xs-12 no-padding">
	<%= render :partial => 'layouts/admin_header.html.erb' %>
</div>


<div class="col-xs-2 no-padding">
	<%= render :partial => 'layouts/admin_sidebar.html.erb' %>
</div>
	 <div class="col-xs-10">
	<%= yield %>
	</div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script src="/assets/js/jQuery/jquery.maskedinput.js"></script>
<script src="/assets/js/jQuery/jquery.tablesorter.min.js"></script>
<script src="/assets/js/admin/custom.js"></script>
<script src="/assets/js/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="/assets/js/jQuery/jquery.twbsPagination.js"></script>
</body>
</html>